<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- 名称 类名接口全程，程序集-->
    <!-- 菜单服务-->
    <alias alias="IMenu" type="XL.ServiceAPI.Sys.IMenu, XL.ServiceAPI" />
    <alias alias="MenuService" type="XL.Service.Sys.MenuService, XL.Service" />

    <alias alias="IMenuIUser" type="XL.ServiceAPI.Staff.IUser, XL.ServiceAPI" />
    <alias alias="UserService" type="XL.Service.Staff.UserService, XL.Service" />

    <alias alias="ILogin" type="XL.ServiceAPI.Staff.ILogin, XL.ServiceAPI" />
    <alias alias="LoginService" type="XL.Service.Staff.LoginService, XL.Service" />

    <!--服务路径是Sys-meuservice-->
    <container name="Sys">
      <register type="IMenu" mapTo="MenuService" name="MenuService" />
    </container>
    <container name="Staff">
      <register type="IMenuIUser" mapTo="UserService" name="UserService" />
      <register type="ILogin" mapTo="LoginService" name="LoginService" />
    </container>

  </unity>
</configuration>